
/* 图标大小 */
.icon_15 {
	width: 30rpx;
	height: 30rpx;
}

.icon_20 {
	width: 40rpx;
	height: 40rpx;
}

.icon_25 {
	width: 50rpx;
	height: 50rpx;
}

.icon_30 {
	width: 60rpx;
	height: 60rpx;
}

.icon_50 {
	width: 100rpx;
	height: 100rpx;
}

/* 圆角 */
.radius_5 {
	border-radius: 10rpx;
}

.radius_10 {
	border-radius: 20rpx;
}

.radius_15 {
	border-radius: 30rpx;
}

/* 主要颜色 */
.bg_blue{
	background-color: #1B9AEE;
}

.bg_green {
	background-color: #2fcb88;
}

.bg_white {
	background-color: #fff;
}

.bg_grey{
	background-color: #EEEEEE;
}

.bg_grey6{
	background-color: #f6f6f6;
}

.bg_red{
	background-color: #F71C3E;
}

/* 绿色字体 */
.green_font{
	color: #1BAD00;
}

/* 蓝色字体 */
.blue_font {
	color: #1B9AEE;
}

/* 黄色字体 */
.yellow_font {
	color: #EECC9B;
}
/* 红色字体 */

.red_font {
	color: #FF4545;
}

/* 白色字体 */
.white_font{
	color: #FFFFFF;
}

/* 灰色字体 */

.grey_font0 {
	color: #acacac;
}

.grey_font6 {
	color: #606060;
}

.grey_font8 {
	color: #888888;
}

.grey_font9 {
	color: #999999;
}

/* 黑色字体 */
.black_font0{
	color: #1C1C1C;
}
.black_font5 {
	color: #1E1E1E;
}

.black_font6 {
	color: #3E3E3E;
}

.black_font7 {
	color: #3B3B3B;
}

.black_font8 {
	color: #0D0D0D;
}

/* 分割线 */

.border_bot {
	border-bottom: 1rpx solid #EEEEEE;
}

.border_left {
	border-left: 1rpx solid #EEEEEE;
}

.border_top {
	border-top: 1rpx solid #EEEEEE;
}

.border_right {
	border-right: 1rpx solid #EEEEEE;
}

.row_center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex_row {
	display: flex;
	flex-direction: row;
}

/* row_center_between  横向居中两端对齐*/
.row_center_between {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

/* row_center_around  横向居中around对齐*/
.row_center_around {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

/* 纵向居中 */
.column_center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex_column {
	display: flex;
	flex-direction: column;
}

.all_center {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* 单行多余文本省略 */

.omit {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/* 两行多余文本省略 */

.two_omit {
	overflow: hidden;
	display: -webkit-box;
	word-break: break-all;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

/* 价格带划线 */

._price {
	text-decoration: line-through;
}

.box_shadow {
	box-shadow: 0 4rpx 8rpx rgba(21, 51, 132, 0.16);
}

.shadow {
	box-shadow: 0 6rpx 20rpx 0 rgba(227, 227, 227, 0.6);
}

.bold {
	font-weight: bold;
}

/* 字号 */

.font_9 {
	font-size: 18rpx;
}

.font_10 {
	font-size: 20rpx;
}

.font_12 {
	font-size: 24rpx;
}

.font_13 {
	font-size: 26rpx;
}

.font_15 {
	font-size: 30rpx;
}

.font_16 {
	font-size: 32rpx;
}

.font_17 {
	font-size: 34rpx;
}

.font_18 {
	font-size: 36rpx;
}

.font_20 {
	font-size: 40rpx;
}

.font_22 {
	font-size: 44rpx;
}

/* 提交按钮样式 */

.sumbit_view {
	height: 90rpx;
	background-color: #1B9AEE;
	border-radius: 4rpx;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-size: 28rpx;
}

/* 按钮样式 */
.botton_view{
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 8rpx;
	color: #FFFFFF;
}

/* 按钮点击样式 */

.dlbutton {
	color: #fff;
	font-size: 30rpx;
	width: 600rpx;
	height: 100rpx;
	background: linear-gradient(to right, rgba(172, 172, 172, 0.7), rgba(172, 172, 172, 0.6));
	box-shadow: 0rpx 0rpx 13rpx 0rpx rgba(164, 217, 228, 0.4);
	border-radius: 50%;
	line-height: 100rpx;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 96rpx;
}

.dlbutton_loading {
	color: #fff;
	font-size: 30rpx;
	width: 100rpx;
	height: 100rpx;
	/* background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6)); */
	box-shadow: 0rpx 0rpx 13rpx 0rpx rgba(164, 217, 228, 0.4);
	border-radius: 50%;
	line-height: 100rpx;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 96rpx;
}

.buttonBorder {
	border: none;
	border-radius: 2.5rem;
	-webkit-box-shadow: 0 0 60rpx 0 rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 60rpx 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 0.4s cubic-bezier(0.57, 0.19, 0.51, 0.95);
	-moz-transition: all 0.4s cubic-bezier(0.57, 0.19, 0.51, 0.95);
	-ms-transition: all 0.4s cubic-bezier(0.57, 0.19, 0.51, 0.95);
	-o-transition: all 0.4s cubic-bezier(0.57, 0.19, 0.51, 0.95);
	transition: all 0.4s cubic-bezier(0.57, 0.19, 0.51, 0.95);
}

/* 旋转动画 */

.rotate_loop {

	animation: rotate 1s linear infinite;
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}
